extends pageLayout

block content
    //- Sort options
    form(action="/sort" method="get")
      select(name="sortBy" onchange="this.form.submit()")
        option(value="name" selected=sortBy === 'name') Sort by Name
        option(value="price-per-item" selected=sortBy === 'pricePerItem') Sort by Price Per Item
      
    //- Display products
    table
      thead
        tr
          th ID
          th Name
          th Price Per Item
          th Quantity
          th Type
          th Actions
      tbody
        each product in products
          tr
            td= product.id
            td= product.name
            td= product.pricePerItem
            td= product.quantity
            td= product.type 
            td
              a(href=`/details/${product.id}`) View Details
              a(href=`/update/${product.id}` class="btn-icon" title="Update Product Details") 
                i(class="bi bi-pencil-square")
              form(action=`/delete/${product.id}` method="post" style="display:inline;")
                input(type="hidden" name="_method" value="DELETE")
                button(type="submit" title="Delete Product" class="btn-icon")  
                  i(class="bi bi-trash")
            
                
