extends pageLayout 

block content
    h1 Update Product
    form(action=`/update/${product.id}` method="post")
      label(for="id") ID:
      input(type="text" id="id" value=product.id disabled)
      br
      label(for="name") Name:
      input(type="text" id="name" name="name" value=product.name required)
      br
      label(for="price") Price:
      input(type="number" id="price" name="price" step="0.01" value=product.price required)
      br
      label(for="quantity") Quantity:
      input(type="number" id="quantity" name="quantity" value=product.quantity required)
      br
      label(for="type") Type:
      input(type="text" id="type" name="type" value=product.type readonly)
      br
      each field in product.getProductTypeDetails()
        label(for=field.name)= field.label + ":"
        input(type="text" id=field.name name=field.name value=field.value required)
      br
      .button-group
        button(type="submit" class="button") Save Changes
        a(href=`/details/${product.id}` class="button") Cancel
