extends pageLayout 

block content
    h1 Update Product
    form(action=`/update/${product.id}` method="post")
      label(for="id") ID:
      input(type="text" id="id" value=product.id readonly)
      br
      label(for="name") Name:
      input(type="text" id="name" name="name" value=product.name required)
      br
      label(for="price") Price:
      input(type="number" id="price" name="price" step="0.01" value=product.price required)
      br
      label(for="quantity") Quantity:
      input(type="number" id="quantity" name="quantity" value=product.quantity required)
      br
      label(for="type") Type:
      input(type="text" id="type" name="type" value=product.type readonly)
      br
      if product.type === 'clothing' && product.Clothing
        label(for="size") Size:
        input(type="text" id="size" name="size" value=product.Clothing.size)
        br
        label(for="material") Material:
        input(type="text" id="material" name="material" value=product.Clothing.material)
      if product.type === 'electronic' && product.Electronic
        label(for="brand") Brand:
        input(type="text" id="brand" name="brand" value=product.Electronic.brand)
        br
        label(for="warranty") Warranty:
        input(type="text" id="warranty" name="warranty" value=product.Electronic.warranty)
      br
      .button-group
        button(type="submit" class="button") Save Changes
        a(href="/" class="button") Cancel
